extends ../layout

block content
    #layoutSidenav_content
        if(typeof errors != 'undefined')
            <div class="alert alert-warning alert-dismissible fade show" role="alert">#{errors}</div>
        #layoutAuthentication_content
            main
                .container
                    .row.justify-content-center
                        .col-lg-7
                            .card.shadow-lg.border-0.rounded-lg.mt-5
                            .card-header
                                h3.text-center.font-weight-light.my-4 #{i18n.__("createAccount")}
                            .card-body
                                form(action='/users/create', method='POST')
                                    input(type='hidden' name='csrf' value=token)
                                    .form-floating.mb-3
                                            input.form-control#inputFirstName(type='text' required name="firstName" placeholder='#{i18n.__("enterYourName")}')
                                            label(for='inputFirstName') #{i18n.__("name")}
                                    .form-floating.mb-3
                                            input.form-control#inputUserName(type='text' required name="userName"  placeholder='#{i18n.__("enterYourUserName")}')
                                            label(for='inputFirstName') #{i18n.__("userName")}
                                    .form-floating.mb-3
                                            input.form-control#inputPassword(type='password' required name="password" placeholder='#{i18n.__("createPassword")}')
                                            label(for='inputPassword') #{i18n.__("password")}
                                    .form-floating.mb-3
                                            input.form-control#inputPassword(type='email' required name="email" placeholder='#{i18n.__("email")}')
                                            label(for='inputPassword') #{i18n.__("email")}
                                    .mt-4.mb-0
                                        .d-grid
                                        input.btn.btn-primary.btn-block(type='submit')
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="/login">Have an account? Go to login</a></div>
                            </div>
