extends ../layout

block content
    if(typeof errors != 'undefined')
        <div class="alert alert-warning alert-dismissible fade show" role="alert">#{errors}</div>
    #layoutAuthentication
        #layoutAuthentication_content
            main
                .container
                    .row.justify-content-center
                        .col-lg-7
                            .card.shadow-lg.border-0.rounded-lg.mt-5
                            .card-header
                                h3.text-center.font-weight-light.my-4 #{i18n.__("createProduct")}
                            .card-body
                                form(action='/products/store', method='POST' enctype="multipart/form-data")
                                    input(type='hidden' name='csrf' value=token)
                                    .form-floating.mb-3
                                            input.form-control#inputName(type='text' required name="name" placeholder='Enter product name')
                                            label(for='inputName') #{i18n.__("name")}
                                    .form-floating.mb-3
                                            input.form-control#inputproductNumber(type='number' required name="productNumber" placeholder='Enter product number')
                                            label(for='inputproductNumber') #{i18n.__("productNumber")}
                                    .form-floating.mb-3
                                            input.form-control#inputPrice(type='number' step="any" required name="price" placeholder='Enter Price')
                                            label(for='inputPrice') #{i18n.__("price")}
                                    select.form-select.form-floating.mb-3(name="status")
                                        option(selected) status
                                        option(value='active') Active
                                        option(value="inActive") In Active                                                    
                                    .form-group.form-floating.mb-3.input-group.date#datepicker
                                            input.form-control#inputdateFrom(type='text' required name="dateFrom")
                                            span.input-group-append
                                                span.input-group-text.bg-white
                                                    i.fa.fa-calendar
                                            label(for='inputdateFrom') #{i18n.__("dateFrom")}
                                    .form-group.form-floating.mb-3.input-group.date#datepicker1
                                            input.form-control#inputdateTo(type='text' required name="dateTo")
                                            span.input-group-append
                                                span.input-group-text.bg-white
                                                    i.fa.fa-calendar
                                            label(for='inputdateTo') #{i18n.__("dateTo")}
                                    .form-floating.mb-3
                                            textarea.form-control#inpudescription(name="description")
                                            label(for='inpudescription') #{i18n.__("description")}
                                    select.form-select.form-floating.mb-3(name="category" required)
                                        option(value='') #{i18n.__("category")} 
                                        option(value='consumerProduct') Consumer Product
                                        option(value="IndustrialProduct") Industrial Product
                                    .form-floating.mb-3
                                            input.form-control#inputimage(type='file' required name="image")
                                            label(for='inputimage')
                                    .mt-4.mb-0
                                        .d-grid
                                        input.btn.btn-primary.btn-block(type='submit')
        #layoutAuthentication_footer
            footer.py-4.bg-light.mt-auto
            .container-fluid.px-4
                .d-flex.align-items-center.justify-content-between.small
                .text-muted Copyright @ Your Website 2021
                div
                    a(href='#') Privacy Policy
                    a(href='#') Terms & Conditions
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
        script(src='https://startbootstrap.github.io/startbootstrap-sb-admin/js/scripts.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js')