extends ../layout

block content

    <div id="layoutSidenav_content">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">#{i18n.__("editProduct")}</h3></div>
                                    <div class="card-body">
                                        <form action='/products/update/#{product.id}', method='POST' enctype="multipart/form-data">
                                            input(type='hidden' name='csrf' value=token)
                                            <div class="form-floating mb-3">        
                                                <input required class="form-control" value=#{product.name} name='name' id="inputFirstName" type="text" placeholder="Enter product name" />
                                                <label for="inputFirstName">#{i18n.__("name")}</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input required class="form-control" value=#{product.productNumber} name='productNumber' id="inputEmail" type="text"/>
                                                <label for="inputEmail">#{i18n.__("productNumber")}</label>
                                            </div>
                                            <div class="form-floating mb-3">        
                                                <input required class="form-control" value=#{product.price} name='price' id="inputFirstName" type="text" placeholder="Enter product price" />
                                                <label for="inputFirstName">#{i18n.__("price")}</label>
                                            </div>
                                            select.form-select.form-floating.mb-3(name="status")
                                                if product.status == 'active'
                                                    option( value= 'active' selected) Active
                                                    option( value= 'inActive') In Active
                                                else 
                                                    option( value= 'active') Active
                                                    option( value= 'inActive' selected) In Active
                                            .form-group.form-floating.mb-3.input-group.date#datepicker
                                                input.form-control#inputdateFrom(type='text' value = moment(product.dateFrom).format('DD-MM-YYYY') required name="dateFrom")
                                                span.input-group-append
                                                    span.input-group-text.bg-white
                                                        i.fa.fa-calendar
                                                label(for='inputdateFrom') #{i18n.__("dateFrom")}
                                            .form-group.form-floating.mb-3.input-group.date#datepicker1
                                                input.form-control#inputdateTo(type='text' value = moment(product.dateTo).format('DD-MM-YYYY') required name="dateTo")
                                                span.input-group-append
                                                    span.input-group-text.bg-white
                                                        i.fa.fa-calendar
                                                label(for='inputdateTo') #{i18n.__("dateTo")}
                                            .form-floating.mb-3
                                                    textarea.form-control#inpudescription(name="description") #{product.description}
                                                    label(for='inpudescription') #{i18n.__("description")}
                                            label(for='inpudescription') #{i18n.__("category")}
                                            select.form-select.form-floating.mb-3(name="category[]" multiple)
                                                each val in categories
                                                    if  product.category.map(x => x['id']).includes(val.id)
                                                        option( selected value=val.id) #{val.name}
                                                    else
                                                        option(value=val.id) #{val.name}
                                            .form-floating.mb-3
                                                    input.form-control#inputimage(type='file' name="image")
                                                    label(for='inputimage')
                                                    .col-3#preview_container
                                                    .preview_container.m-auto
                                                    if product.image
                                                        <img id="preview" height=50 width=50 src='/images/#{product.image}' alt='Category logo'/>
                                                        a#remove.close-preview(name='remove' data-toggle='tooltip' title='Delete')
                                                            i.far.fa-trash-alt.text-muted
                                            <div class="mt-4 mb-0">
                                                <input type="hidden" name="image_edit" id="image_edit" value="#{product.image}">
                                                <div class="d-grid">
                                                    <input type="submit" class="btn btn-primary btn-block" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
    </div>
    script(src='/javascripts/dateinitlize.js')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js' crossorigin="anonymous"></script>