<!DOCTYPE html>
<html>
    <head></head>
    <body >
        <table style=" border: 1px solid black;border-collapse: collapse;">
            <thead style=" border: 1px solid black;border-collapse: collapse;">
                <th style=" border: 1px solid black;border-collapse: collapse;">name</th>
                <th style=" border: 1px solid black;border-collapse: collapse;">ProductNumber</th>
                <th style=" border: 1px solid black;border-collapse: collapse;">price</th>
                <th style=" border: 1px solid black;border-collapse: collapse;">dateFrom</th>
                <th style=" border: 1px solid black;border-collapse: collapse;">dateTo</th>
                <th style=" border: 1px solid black;border-collapse: collapse;">CreatedAt</th>
            </thead>
            <tbody style=" border: 1px solid black;border-collapse: collapse;">
                each val in products
                    <tr style=" border: 1px solid black;border-collapse: collapse;">
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.name}</td>
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.productNumber}</td>
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.price}</td>
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.dateFrom}</td>
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.dateTo}</td>
                        <td style=" border: 1px solid black;border-collapse: collapse;">#{val.createdAt}</td>
                    </tr>
            </tbody>
        </table>
    </body>
</html>
